@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 10px;
}

footer h1 {
    margin-bottom: 20px;
    display: flex;
}
  
footer ul {
    list-style: none;
    padding: 0;
}

.footer_nav_link_footer {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: none;
    color: #333333;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.footer_nav_link_footer:hover{
    color: #d6711a;
}

footer li {
    margin-bottom: 10px;
}
  
footer a {
    text-decoration: none;
    color: #333333;
    display: flex;
    font-size: 15px;
}

footer a:hover{
    color: #d6711a;
}

footer a:active{
    color: #d6711a;
}

@media screen and (max-width: 892px) {
    footer {
        display: flex;
        flex-direction: column;
    }

    footer h1 {
        margin-top: 20px;
        margin-bottom: 5px;
    }
}