.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.formulario_criar_ong {
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #9ed1d0;
    box-shadow: 0 0 10px #6d9c9b;
    border-radius: 30px;
    padding: 50px;
    margin: 40px;
}

.formulario_criar_ong input, .formulario_criar_ong select {
    margin: 15px 0;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.formulario_criar_ong label {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}

.botao_criar_ong {
    border: none;
    border-radius: 999px;
    display: block;
    height: 50px;
    width: 70%;
    background-color: rgb(112, 112, 255);
    box-shadow: 0 0 10px rgb(3, 31, 139);
    font-size: 16px;
    font-weight: bold;
    margin: 20px auto 0;
    cursor: pointer;
}

.botao_criar_ong:hover {
    background-color: rgb(80, 80, 255);
}

.botao_criar_ong:active {
    background-color: rgb(112, 112, 255);
}
