* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.perguntas-respostas h3 {
  background-color: #d5d5d5;
  border-radius: 5px;
  margin: 10px 5px 10px 5px;
}

.perguntas-respostas p {
  color: gray;
  font-size: 16px;
}
