* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

section {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titulo-politica-privacidade {
    padding-top: 20px;
    padding-left: 70px;
    padding-bottom: 20px;
    text-align: left;
    color: #333333;
}

.descricao-politica-privacidade {
    padding-left: 70px;
    padding-right: 70px;
    line-height: 2;
    text-align: justify;
    text-indent: 7%;
}

.descricao-politica-privacidade::first-line {
    text-indent: 15px;
}